[user]
	name = A. Fox
	email = anthonyfox1988@gmail.com
[github]
	user = wtfox
[ghi]
	token = !security find-internet-password -a wtfox -s github.com -l 'ghi token' -w
[core]
	excludesfile = ~/.gitignore
	pager = delta | less --tabs=4 -RFX
	editor = vi
[include]
    path = ~/.gitaliases

# for github remotes
[alias]
  pr  = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	st = status --short --branch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = delta
[init]
	defaultBranch = main
