[user]
	name = A. Fox
	email = anthonyfox1988@gmail.com
	username = wtfox
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGxV9td+vCLb28BAbizeTvI41RrkN4xyqDy1UlAv63Rz

[github]
	user = wtfox

[core]
	excludesfile = ~/.config/git/ignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim

[include]
    path = ~/.gitaliases

[diff]
	tool = diff-so-fancy

[init]
	defaultBranch = main

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[gpg]
	format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
