[user]
	name = A. Fox
	email = anthonyfox1988@gmail.com
  username = wtfox

[github]
	user = wtfox

[ghi]
	token = !security find-internet-password -a wtfox -s github.com -l 'ghi token' -w

[core]
	excludesfile = ~/.config/git/ignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim

[include]
    path = ~/.gitaliases

[diff]
  tool = diff-so-fancy
  
[init]
	defaultBranch = main
