haters/*
vim/*
backup/*
.ropeproject/
.idea/
.vscode/

nvim/.config/nvim/plugged/
bin/bin/nvim-macos/
bin/bin/nvim-macos.tar.gz
bin/bin/nvim-linux64/
bin/bin/nvim-linux64.tar.gz
bin/bin/nvim-linux-x86_64/
bin/bin/nvim-linux-x86_64.tar.gz
bin/bin/nvim-macos-arm64
bin/bin/nvim-macos-arm64.tar.gz
bin/bin/particle

tags*
.DS_Store
nvim/.config/nvim/plugin/packer_compiled.lua

pgcli/.config/pgcli/history
pgcli/.config/pgcli/log

tmux-client-*.log
