[mgr]
show_hidden = true

[opener]
play = [
  { run = '/Applications/IINA.app/Contents/MacOS/IINA "$0"', orphan = true, for = "macos" },
  { run = '"C:\Program Files\mpv.exe" %*', orphan = true, for = "windows" },
]

[theme]
# Color consistency with fzf and wezterm - Vague Theme
[theme.manager]
cwd = { fg = "#6e94b2" }
hovered = { fg = "#141415", bg = "#f3be7c" }
preview_hovered = { fg = "#141415", bg = "#f3be7c" }

[theme.status]
separator_open = ""
separator_close = ""

[theme.select]
border = { fg = "#6e94b2" }
active = { fg = "#141415", bg = "#f3be7c" }
inactive = { fg = "#cdcdcd" }

[theme.input]
border = { fg = "#6e94b2" }
title = { fg = "#6e94b2" }
value = { fg = "#cdcdcd" }
selected = { fg = "#141415", bg = "#f3be7c" }

[theme.completion]
border = { fg = "#6e94b2" }
active = { fg = "#141415", bg = "#f3be7c" }
inactive = { fg = "#cdcdcd" }

[theme.tasks]
border = { fg = "#6e94b2" }
title = { fg = "#6e94b2" }
hovered = { fg = "#141415", bg = "#f3be7c" }

[theme.which]
rest = { fg = "#cdcdcd" }
cand = { fg = "#f3be7c" }
desc = { fg = "#6e94b2" }
separator = "  "

[theme.help]
on = { fg = "#f3be7c" }
exec = { fg = "#6e94b2" }
desc = { fg = "#cdcdcd" }
hovered = { fg = "#141415", bg = "#f3be7c" }
footer = { fg = "#cdcdcd", bg = "#141415" }

[theme.filetype]
rules = [
  { mime = "image/*", fg = "#f3be7c" },
  { mime = "video/*", fg = "#6e94b2" },
  { mime = "audio/*", fg = "#d8647e" },
  { mime = "application/zip", fg = "#f3be7c" },
  { mime = "application/gzip", fg = "#f3be7c" },
  { mime = "application/x-tar", fg = "#f3be7c" },
  { mime = "application/x-bzip", fg = "#f3be7c" },
  { mime = "application/x-bzip2", fg = "#f3be7c" },
  { mime = "application/x-7z-compressed", fg = "#f3be7c" },
  { mime = "application/x-rar", fg = "#f3be7c" },
  { name = "*", is = "dir", fg = "#6e94b2" },
  { name = "*", is = "exec", fg = "#d8647e" },
  { name = "*/", fg = "#6e94b2" },
]

[plugin]
# https://github.com/Ape/mediainfo.yazi
# requires mediainfo and ffmpeg-thumbnailer
prepend_previewers = [
  { mime = "{image,audio,video}/*", run = "mediainfo" },
  { mime = "application/x-subrip", run = "mediainfo" },
]
