[mgr]
show_hidden = true

[opener]
play = [
  { run = '/Applications/IINA.app/Contents/MacOS/IINA "$0"', orphan = true, for = "macos" },
  { run = '"C:\Program Files\mpv.exe" %*', orphan = true, for = "windows" },
]

[theme]
# Color consistency with fzf and wezterm - Jellybeans Theme
[theme.manager]
cwd = { fg = "#8197bf" }
hovered = { fg = "#151515", bg = "#dad085" }
preview_hovered = { fg = "#151515", bg = "#dad085" }

[theme.status]
separator_open = ""
separator_close = ""

[theme.select]
border = { fg = "#8197bf" }
active = { fg = "#151515", bg = "#dad085" }
inactive = { fg = "#e8e8d3" }

[theme.input]
border = { fg = "#8197bf" }
title = { fg = "#8197bf" }
value = { fg = "#e8e8d3" }
selected = { fg = "#151515", bg = "#dad085" }

[theme.completion]
border = { fg = "#8197bf" }
active = { fg = "#151515", bg = "#dad085" }
inactive = { fg = "#e8e8d3" }

[theme.tasks]
border = { fg = "#8197bf" }
title = { fg = "#8197bf" }
hovered = { fg = "#151515", bg = "#dad085" }

[theme.which]
rest = { fg = "#e8e8d3" }
cand = { fg = "#dad085" }
desc = { fg = "#8197bf" }
separator = "  "

[theme.help]
on = { fg = "#dad085" }
exec = { fg = "#8197bf" }
desc = { fg = "#e8e8d3" }
hovered = { fg = "#151515", bg = "#dad085" }
footer = { fg = "#e8e8d3", bg = "#151515" }

[theme.filetype]
rules = [
  { mime = "image/*", fg = "#dad085" },
  { mime = "video/*", fg = "#8197bf" },
  { mime = "audio/*", fg = "#cf6a4c" },
  { mime = "application/zip", fg = "#dad085" },
  { mime = "application/gzip", fg = "#dad085" },
  { mime = "application/x-tar", fg = "#dad085" },
  { mime = "application/x-bzip", fg = "#dad085" },
  { mime = "application/x-bzip2", fg = "#dad085" },
  { mime = "application/x-7z-compressed", fg = "#dad085" },
  { mime = "application/x-rar", fg = "#dad085" },
  { name = "*", is = "dir", fg = "#99ad6a" },
  { name = "*", is = "exec", fg = "#cf6a4c" },
  { name = "*/", fg = "#99ad6a" },
]

[plugin]
# https://github.com/Ape/mediainfo.yazi
# requires mediainfo and ffmpeg-thumbnailer
prepend_previewers = [
  { mime = "{image,audio,video}/*", run = "mediainfo" },
  { mime = "application/x-subrip", run = "mediainfo" },
]
